<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

        <!--<context:component-scan base-package="com"></context:component-scan>-->
        <bean id="user" class="com.domain.User"></bean>
        <bean id="accountService" class="com.service.impl.AccountServiceImpl"></bean>
        <bean id="logger" class="com.utils.Logger"></bean>

        <aop:config>
            <aop:aspect id="logAdvice" ref="logger">
                <!--全通配表达式: * *..*.*(..) 访问修饰符public可以省略 ..表示当前包及其子包-->
                <!--<aop:before method="printLog" pointcut="execution(public void com.service.impl.AccountServiceImpl.saveAccount())"></aop:before>-->
                <aop:before method="printLog" pointcut="execution(* com.service.impl.*.*(..))"></aop:before>
            </aop:aspect>
        </aop:config>
</beans>